<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dh-019--1_562_46910.png</key>
			<dict>
				<key>width</key>
				<integer>262</integer>
				<key>height</key>
				<integer>417</integer>
				<key>originalWidth</key>
				<integer>278</integer>
				<key>originalHeight</key>
				<integer>424</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>dh-019--1_563_93467.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>416</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>423</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>dh-019--1_564_2842.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>427</integer>
				<key>originalWidth</key>
				<integer>319</integer>
				<key>originalHeight</key>
				<integer>456</integer>
				<key>x</key>
				<integer>537</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>dh-019--1_566_26524.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>430</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>455</integer>
				<key>x</key>
				<integer>833</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>dh-019--1_568_76284.png</key>
			<dict>
				<key>width</key>
				<integer>329</integer>
				<key>height</key>
				<integer>416</integer>
				<key>originalWidth</key>
				<integer>347</integer>
				<key>originalHeight</key>
				<integer>417</integer>
				<key>x</key>
				<integer>1152</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>dh-019--1_569_60476.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>435</integer>
				<key>originalWidth</key>
				<integer>371</integer>
				<key>originalHeight</key>
				<integer>452</integer>
				<key>x</key>
				<integer>1483</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>dh-019--1_570_86706.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>429</integer>
				<key>originalWidth</key>
				<integer>382</integer>
				<key>originalHeight</key>
				<integer>460</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>dh-019--1_571_98629.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>427</integer>
				<key>originalWidth</key>
				<integer>396</integer>
				<key>originalHeight</key>
				<integer>448</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>dh-019--1_553_76506.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>402</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>402</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_556_40362.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>410</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>410</integer>
				<key>x</key>
				<integer>938</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_557_52940.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>410</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>410</integer>
				<key>x</key>
				<integer>1177</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_558_57085.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>410</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>410</integer>
				<key>x</key>
				<integer>1416</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_573_3858.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>306</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>306</integer>
				<key>x</key>
				<integer>1655</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_574_9552.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>155</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>1817</integer>
				<key>y</key>
				<integer>437</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_575_20237.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>214</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_577_63097.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>226</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_578_26884.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_616_34393.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_586_95529.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_588_34928.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>644</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_589_9960.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>353</integer>
				<key>originalWidth</key>
				<integer>147</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>813</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_591_21032.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>346</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>346</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_592_68155.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>1122</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_593_36380.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>347</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>347</integer>
				<key>x</key>
				<integer>1265</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_580_90625.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>1400</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>dh-019--1_582_97640.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>1539</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_583_77673.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>1677</integer>
				<key>y</key>
				<integer>868</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_617_10097.png</key>
			<dict>
				<key>width</key>
				<integer>1137</integer>
				<key>height</key>
				<integer>769</integer>
				<key>originalWidth</key>
				<integer>1137</integer>
				<key>originalHeight</key>
				<integer>769</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1223</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>laizixingxingdeni3.png</string>
			<key>realTextureFileName</key>
			<string>laizixingxingdeni3.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>