<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>huoshanpenhuo7.png</key>
			<dict>
				<key>width</key>
				<integer>1216</integer>
				<key>height</key>
				<integer>1829</integer>
				<key>originalWidth</key>
				<integer>1216</integer>
				<key>originalHeight</key>
				<integer>1829</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_685_22747.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>184</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1831</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_678_19810.png</key>
			<dict>
				<key>width</key>
				<integer>391</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>446</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>1831</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>zly--1_661_40538.png</key>
			<dict>
				<key>width</key>
				<integer>414</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>414</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>599</integer>
				<key>y</key>
				<integer>1831</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_314_63464.png</key>
			<dict>
				<key>width</key>
				<integer>447</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>459</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>1015</integer>
				<key>y</key>
				<integer>1831</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>zly--1_881_63637.png</key>
			<dict>
				<key>width</key>
				<integer>454</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>462</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>1464</integer>
				<key>y</key>
				<integer>1831</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>zly--1_900_34066.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>1920</integer>
				<key>y</key>
				<integer>1831</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>yuanshiren11.png</string>
			<key>realTextureFileName</key>
			<string>yuanshiren11.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>