<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zly--1_237_8881.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>zly--1_242_70161.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>233</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_243_76171.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>196</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_244_72401.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>691</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_245_19321.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>885</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_246_58087.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>204</integer>
				<key>x</key>
				<integer>1053</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_296_99119.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>1206</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>yuanshiren16.png</string>
			<key>realTextureFileName</key>
			<string>yuanshiren16.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>