<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zly--1_1217_98130.png</key>
			<dict>
				<key>width</key>
				<integer>894</integer>
				<key>height</key>
				<integer>599</integer>
				<key>originalWidth</key>
				<integer>894</integer>
				<key>originalHeight</key>
				<integer>599</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_637_70723.png</key>
			<dict>
				<key>width</key>
				<integer>914</integer>
				<key>height</key>
				<integer>599</integer>
				<key>originalWidth</key>
				<integer>914</integer>
				<key>originalHeight</key>
				<integer>599</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_435_81213.png</key>
			<dict>
				<key>width</key>
				<integer>923</integer>
				<key>height</key>
				<integer>595</integer>
				<key>originalWidth</key>
				<integer>923</integer>
				<key>originalHeight</key>
				<integer>595</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>601</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_469_71038.png</key>
			<dict>
				<key>width</key>
				<integer>910</integer>
				<key>height</key>
				<integer>600</integer>
				<key>originalWidth</key>
				<integer>910</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>925</integer>
				<key>y</key>
				<integer>601</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1061_24852.png</key>
			<dict>
				<key>width</key>
				<integer>884</integer>
				<key>height</key>
				<integer>575</integer>
				<key>originalWidth</key>
				<integer>884</integer>
				<key>originalHeight</key>
				<integer>575</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1032_13571.png</key>
			<dict>
				<key>width</key>
				<integer>858</integer>
				<key>height</key>
				<integer>572</integer>
				<key>originalWidth</key>
				<integer>858</integer>
				<key>originalHeight</key>
				<integer>572</integer>
				<key>x</key>
				<integer>886</integer>
				<key>y</key>
				<integer>1203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1035_31720.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>zly--1_1069_44005.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>259</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1267_73137.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1268_51766.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>481</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1222_79989.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>624</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_534_49168.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>740</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1256_94059.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>785</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_564_74849.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>845</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_574_60678.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>871</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1111_44172.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>1059</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1012_34616.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>1211</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_568_7804.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>1397</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1064_49670.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>1549</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1112_70624.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>1710</integer>
				<key>y</key>
				<integer>1780</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gongfu1.png</string>
			<key>realTextureFileName</key>
			<string>gongfu1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>