<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zly--1_1244_50274.png</key>
			<dict>
				<key>width</key>
				<integer>869</integer>
				<key>height</key>
				<integer>566</integer>
				<key>originalWidth</key>
				<integer>869</integer>
				<key>originalHeight</key>
				<integer>566</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_434_83236.png</key>
			<dict>
				<key>width</key>
				<integer>856</integer>
				<key>height</key>
				<integer>580</integer>
				<key>originalWidth</key>
				<integer>856</integer>
				<key>originalHeight</key>
				<integer>580</integer>
				<key>x</key>
				<integer>871</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1051_44709.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>369</integer>
				<key>originalWidth</key>
				<integer>238</integer>
				<key>originalHeight</key>
				<integer>369</integer>
				<key>x</key>
				<integer>1729</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1240_70821.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>382</integer>
				<key>originalWidth</key>
				<integer>236</integer>
				<key>originalHeight</key>
				<integer>382</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>582</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1241_76117.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>369</integer>
				<key>originalWidth</key>
				<integer>238</integer>
				<key>originalHeight</key>
				<integer>369</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>582</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_532_90931.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>193</integer>
				<key>x</key>
				<integer>478</integer>
				<key>y</key>
				<integer>582</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1155_66477.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>661</integer>
				<key>y</key>
				<integer>582</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1107_26244.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>177</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>866</integer>
				<key>y</key>
				<integer>582</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_475_94327.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>1045</integer>
				<key>y</key>
				<integer>582</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1158_68741.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>1279</integer>
				<key>y</key>
				<integer>582</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1139_1951.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>1392</integer>
				<key>y</key>
				<integer>582</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_724_72649.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>1652</integer>
				<key>y</key>
				<integer>582</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_676_16615.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>258</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_642_245.png</key>
			<dict>
				<key>width</key>
				<integer>247</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>252</integer>
				<key>originalHeight</key>
				<integer>231</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1251_61913.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>500</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_682_28063.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>652</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1216_1381.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>757</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1120_29713.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>861</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1226_63489.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>961</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_625_78429.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>1057</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1079_30533.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>131</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>1159</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_712_46704.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>1292</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1246_12409.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1406</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1041_78283.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>1617</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1139_58438.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>1789</integer>
				<key>y</key>
				<integer>966</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1181_35780.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_639_95718.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>211</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>1226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_677_1360.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>227</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>1226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_440_2041.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>667</integer>
				<key>y</key>
				<integer>1226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1135_10379.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>902</integer>
				<key>y</key>
				<integer>1226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1050_29380.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>272</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>1100</integer>
				<key>y</key>
				<integer>1226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1014_44885.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>283</integer>
				<key>originalWidth</key>
				<integer>266</integer>
				<key>originalHeight</key>
				<integer>283</integer>
				<key>x</key>
				<integer>1322</integer>
				<key>y</key>
				<integer>1226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_615_24802.png</key>
			<dict>
				<key>width</key>
				<integer>277</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>277</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>1590</integer>
				<key>y</key>
				<integer>1226</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1044_63922.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_441_76190.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1082_2962.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>315</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_548_16730.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>785</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_647_66157.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>1045</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1172_19456.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>13</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>1256</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1251_64470.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>1271</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>zly--1_623_495.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1374</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1170_22570.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1458</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1022_95062.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1577</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1182_65513.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>1622</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>zly--1_1189_75380.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>279</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>1678</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_576_83766.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>1691</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1092_37032.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1768</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_447_91044.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1894</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_581_61487.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1169_3661.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1188_23204.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1144_80618.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1213_31014.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_542_88307.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>zly--1_1065_68456.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>505</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1196_53335.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>593</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1249_69061.png</key>
			<dict>
				<key>width</key>
				<integer>352</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>352</integer>
				<key>originalHeight</key>
				<integer>216</integer>
				<key>x</key>
				<integer>669</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1212_27935.png</key>
			<dict>
				<key>width</key>
				<integer>343</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>343</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>1023</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_1096_49163.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>344</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1368</integer>
				<key>y</key>
				<integer>1793</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zly--1_599_92542.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2011</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1190_6705.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>2011</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>gongfu2.png</string>
			<key>realTextureFileName</key>
			<string>gongfu2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>