<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dh-019--1_959_64961.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>639</integer>
				<key>originalWidth</key>
				<integer>308</integer>
				<key>originalHeight</key>
				<integer>639</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_960_36019.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>644</integer>
				<key>originalWidth</key>
				<integer>308</integer>
				<key>originalHeight</key>
				<integer>644</integer>
				<key>x</key>
				<integer>310</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_961_72448.png</key>
			<dict>
				<key>width</key>
				<integer>312</integer>
				<key>height</key>
				<integer>645</integer>
				<key>originalWidth</key>
				<integer>312</integer>
				<key>originalHeight</key>
				<integer>645</integer>
				<key>x</key>
				<integer>620</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_962_20888.png</key>
			<dict>
				<key>width</key>
				<integer>411</integer>
				<key>height</key>
				<integer>642</integer>
				<key>originalWidth</key>
				<integer>411</integer>
				<key>originalHeight</key>
				<integer>642</integer>
				<key>x</key>
				<integer>934</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_963_76104.png</key>
			<dict>
				<key>width</key>
				<integer>463</integer>
				<key>height</key>
				<integer>639</integer>
				<key>originalWidth</key>
				<integer>463</integer>
				<key>originalHeight</key>
				<integer>639</integer>
				<key>x</key>
				<integer>1347</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1003_87874.png</key>
			<dict>
				<key>width</key>
				<integer>319</integer>
				<key>height</key>
				<integer>643</integer>
				<key>originalWidth</key>
				<integer>319</integer>
				<key>originalHeight</key>
				<integer>643</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>647</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_966_87192.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>639</integer>
				<key>originalWidth</key>
				<integer>308</integer>
				<key>originalHeight</key>
				<integer>639</integer>
				<key>x</key>
				<integer>321</integer>
				<key>y</key>
				<integer>647</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_967_56432.png</key>
			<dict>
				<key>width</key>
				<integer>439</integer>
				<key>height</key>
				<integer>639</integer>
				<key>originalWidth</key>
				<integer>439</integer>
				<key>originalHeight</key>
				<integer>639</integer>
				<key>x</key>
				<integer>631</integer>
				<key>y</key>
				<integer>647</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_968_8120.png</key>
			<dict>
				<key>width</key>
				<integer>571</integer>
				<key>height</key>
				<integer>642</integer>
				<key>originalWidth</key>
				<integer>571</integer>
				<key>originalHeight</key>
				<integer>642</integer>
				<key>x</key>
				<integer>1072</integer>
				<key>y</key>
				<integer>647</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_969_84389.png</key>
			<dict>
				<key>width</key>
				<integer>637</integer>
				<key>height</key>
				<integer>646</integer>
				<key>originalWidth</key>
				<integer>637</integer>
				<key>originalHeight</key>
				<integer>646</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_970_45382.png</key>
			<dict>
				<key>width</key>
				<integer>582</integer>
				<key>height</key>
				<integer>646</integer>
				<key>originalWidth</key>
				<integer>582</integer>
				<key>originalHeight</key>
				<integer>646</integer>
				<key>x</key>
				<integer>639</integer>
				<key>y</key>
				<integer>1292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_973_40331.png</key>
			<dict>
				<key>width</key>
				<integer>538</integer>
				<key>height</key>
				<integer>650</integer>
				<key>originalWidth</key>
				<integer>538</integer>
				<key>originalHeight</key>
				<integer>650</integer>
				<key>x</key>
				<integer>1223</integer>
				<key>y</key>
				<integer>1292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>maxituan6.png</string>
			<key>realTextureFileName</key>
			<string>maxituan6.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>