<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dh-019--1_894_71048.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>354</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>357</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>dh-019--1_895_75086.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>358</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>361</integer>
				<key>x</key>
				<integer>218</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>dh-019--1_896_34936.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>366</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>370</integer>
				<key>x</key>
				<integer>441</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_898_84176.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>365</integer>
				<key>originalWidth</key>
				<integer>235</integer>
				<key>originalHeight</key>
				<integer>369</integer>
				<key>x</key>
				<integer>668</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_899_16005.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>366</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>371</integer>
				<key>x</key>
				<integer>897</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>dh-019--1_900_44300.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>373</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>1133</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_901_34000.png</key>
			<dict>
				<key>width</key>
				<integer>248</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>381</integer>
				<key>x</key>
				<integer>1376</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_902_99521.png</key>
			<dict>
				<key>width</key>
				<integer>253</integer>
				<key>height</key>
				<integer>354</integer>
				<key>originalWidth</key>
				<integer>261</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>dh-019--1_903_87180.png</key>
			<dict>
				<key>width</key>
				<integer>255</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>262</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1022_19078.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_926_83924.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>153</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_817_55704.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>495</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_818_89140.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>541</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_823_226.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>621</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_825_93373.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>698</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_828_1753.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>775</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_999_386.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>865</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_877_78291.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>235</integer>
				<key>originalHeight</key>
				<integer>341</integer>
				<key>x</key>
				<integer>923</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>dh-019--1_878_92485.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>352</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>356</integer>
				<key>x</key>
				<integer>1153</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_879_7520.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>359</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>364</integer>
				<key>x</key>
				<integer>1388</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>dh-019--1_880_52100.png</key>
			<dict>
				<key>width</key>
				<integer>232</integer>
				<key>height</key>
				<integer>363</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>367</integer>
				<key>x</key>
				<integer>1624</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_881_74559.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>358</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>362</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_882_70990.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>348</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>352</integer>
				<key>x</key>
				<integer>235</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_883_8177.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>232</integer>
				<key>originalHeight</key>
				<integer>342</integer>
				<key>x</key>
				<integer>461</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>dh-019--1_884_63402.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>343</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>346</integer>
				<key>x</key>
				<integer>687</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>dh-019--1_906_70081.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>910</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_907_39572.png</key>
			<dict>
				<key>width</key>
				<integer>327</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>327</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>1056</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_909_82296.png</key>
			<dict>
				<key>width</key>
				<integer>318</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>1385</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_910_37876.png</key>
			<dict>
				<key>width</key>
				<integer>283</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1705</integer>
				<key>y</key>
				<integer>744</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_911_67632.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_912_20642.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>271</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>1104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_913_22183.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>545</integer>
				<key>y</key>
				<integer>1104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_914_81397.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>277</integer>
				<key>originalWidth</key>
				<integer>271</integer>
				<key>originalHeight</key>
				<integer>277</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>1104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_915_97675.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>289</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>289</integer>
				<key>x</key>
				<integer>1127</integer>
				<key>y</key>
				<integer>1104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_916_66170.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>1287</integer>
				<key>y</key>
				<integer>1104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_917_674.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>289</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>289</integer>
				<key>x</key>
				<integer>1447</integer>
				<key>y</key>
				<integer>1104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1025_219.png</key>
			<dict>
				<key>width</key>
				<integer>264</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>264</integer>
				<key>originalHeight</key>
				<integer>202</integer>
				<key>x</key>
				<integer>1607</integer>
				<key>y</key>
				<integer>1104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1026_80147.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>1873</integer>
				<key>y</key>
				<integer>1104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1027_25384.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1028_20475.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>177</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1030_50143.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>dh-019--1_1031_87145.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>202</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>541</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>dh-019--1_1032_40678.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>722</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1033_61455.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>902</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1034_62783.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>1066</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1035_4441.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>1267</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1036_23796.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>1439</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1037_69750.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>1613</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1038_26221.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>1769</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1039_13070.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>1884</integer>
				<key>y</key>
				<integer>1395</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1041_51883.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>161</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1042_56989.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>163</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_1043_8129.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>269</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>269</integer>
				<key>x</key>
				<integer>380</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_939_80453.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_940_23986.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>687</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_996_97778.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>183</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_998_58482.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>946</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tou2.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>1055</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_802_27114.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>1171</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_803_41126.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>1282</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_804_45870.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>170</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>1410</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_805_32327.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>1582</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_806_51701.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>1729</integer>
				<key>y</key>
				<integer>1572</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_807_76797.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>177</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_809_73039.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>196</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_810_58426.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>360</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_811_83262.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>196</integer>
				<key>x</key>
				<integer>551</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_812_94621.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_813_22148.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>184</integer>
				<key>x</key>
				<integer>902</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_822_27046.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>1101</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_824_55862.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>1251</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_826_84861.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>1401</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_827_23259.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>1551</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_829_50041.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>184</integer>
				<key>x</key>
				<integer>1717</integer>
				<key>y</key>
				<integer>1843</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>maxituan2.png</string>
			<key>realTextureFileName</key>
			<string>maxituan2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>