<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dh-019--1_974_43211.png</key>
			<dict>
				<key>width</key>
				<integer>591</integer>
				<key>height</key>
				<integer>655</integer>
				<key>originalWidth</key>
				<integer>591</integer>
				<key>originalHeight</key>
				<integer>655</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_976_29598.png</key>
			<dict>
				<key>width</key>
				<integer>623</integer>
				<key>height</key>
				<integer>661</integer>
				<key>originalWidth</key>
				<integer>623</integer>
				<key>originalHeight</key>
				<integer>661</integer>
				<key>x</key>
				<integer>593</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_977_4152.png</key>
			<dict>
				<key>width</key>
				<integer>561</integer>
				<key>height</key>
				<integer>664</integer>
				<key>originalWidth</key>
				<integer>561</integer>
				<key>originalHeight</key>
				<integer>664</integer>
				<key>x</key>
				<integer>1218</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_978_96104.png</key>
			<dict>
				<key>width</key>
				<integer>700</integer>
				<key>height</key>
				<integer>663</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>663</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>666</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_979_97313.png</key>
			<dict>
				<key>width</key>
				<integer>909</integer>
				<key>height</key>
				<integer>662</integer>
				<key>originalWidth</key>
				<integer>909</integer>
				<key>originalHeight</key>
				<integer>662</integer>
				<key>x</key>
				<integer>702</integer>
				<key>y</key>
				<integer>666</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_980_82541.png</key>
			<dict>
				<key>width</key>
				<integer>909</integer>
				<key>height</key>
				<integer>662</integer>
				<key>originalWidth</key>
				<integer>909</integer>
				<key>originalHeight</key>
				<integer>662</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dh-019--1_981_80040.png</key>
			<dict>
				<key>width</key>
				<integer>818</integer>
				<key>height</key>
				<integer>665</integer>
				<key>originalWidth</key>
				<integer>818</integer>
				<key>originalHeight</key>
				<integer>665</integer>
				<key>x</key>
				<integer>911</integer>
				<key>y</key>
				<integer>1331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>maxituan7.png</string>
			<key>realTextureFileName</key>
			<string>maxituan7.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>